  body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center; /* !!! */
  }

  .centered {
    margin: 0 auto;
    text-align: center;
    width: 800px;
  }

  /* Cool way to remove form outline*/
  input {
    background: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    width: 175px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-size: 30px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;


  }

  .logo {
    position:absolute;
    right:0;
    bottom:0;
  }

  #date-time {
    font-size: 90px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 37%;
  }


/*.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}


.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}*/