  body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center; /* !!! */
  }

  .centered {
    margin: 0 auto;
    text-align: center;
    width: 800px;
  }

  .logo {
    position:absolute;
    right:0;
    bottom:0;
  }

  #date-time {
    font-size: 90px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 37%;
  }